$btn-font: 400 16/1.6 Aleo, Arial, sans-serif;

$text-font: 400 16/1.6 'Josefin+Sans', Arial, sans-serif;
$title-font: 400 36 Aleo, Arial, sans-serif;
$subtitle-font: 400 20/1.3 'Josefin+Sans', Arial, sans-serif;